<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AppEditController</servlet-name>
        <servlet-class>AppEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPrescriptionController</servlet-name>
        <servlet-class>editPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAppController</servlet-name>
        <servlet-class>deleteAppController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAppDoctorController</servlet-name>
        <servlet-class>deleteAppDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDoctorServlet2</servlet-name>
        <servlet-class>com.clinic.controller.addDoctorServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPatient</servlet-name>
        <servlet-class>com.clinic.controller.AddPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPatientCheckIC</servlet-name>
        <servlet-class>com.clinic.controller.AddPatientCheckIC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_empServlet2</servlet-name>
        <servlet-class>com.clinic.controller.login_empServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register_empServlet2</servlet-name>
        <servlet-class>com.clinic.controller.register_empServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppEditController</servlet-name>
        <url-pattern>/AppEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPrescriptionController</servlet-name>
        <url-pattern>/editPrescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAppController</servlet-name>
        <url-pattern>/deleteAppController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAppDoctorController</servlet-name>
        <url-pattern>/deleteAppDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDoctorServlet2</servlet-name>
        <url-pattern>/addDoctorServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPatient</servlet-name>
        <url-pattern>/AddPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPatientCheckIC</servlet-name>
        <url-pattern>/AddPatientCheckIC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_empServlet2</servlet-name>
        <url-pattern>/login_empServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register_empServlet2</servlet-name>
        <url-pattern>/register_empServlet2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
